html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
}

.wrapper {
    width: 400px;
    display: flex;
    flex-direction: column;
    margin: 200px auto;
    max-height: 500px;
    height: 300px;
}

.calculator-screen {
    background-color: black;
    color: white;
    text-align: right;
    padding: 5px;
    font-size: 1.75em;
}

.calculator-screen p {
    margin: 5px;
}

.prev-equation {
    color: #a09b9b;
    font-size: 0.85em;
    visibility: hidden;
}

.prev-equation.active {
    visibility: visible;
}

.calculator-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.calculator-buttons button {
    font-size: 1.5em;
    padding: 20px;
    border: 0.5px solid black;
}

.calculator-buttons button:hover {
    filter: brightness(85%);
    cursor: pointer;
}

.clear {
    grid-column: span 2;
}

.number-button-0 {
    grid-column: span 3;
    grid-row: 5;
}

.divide {
    grid-column: 4;
    grid-row: 1;
}

.multiply {
    grid-column: 4;
    grid-row: 2;
}

.subtract {
    grid-column: 4;
    grid-row: 3;
}

.add {
    grid-column: 4;
    grid-row: 4;
}

.equals {
    grid-column: 4;
    grid-row: 5;
}

.divide,
.multiply,
.subtract,
.add,
.equals {
    font-weight: bold;
    background-color: #f0a500;
    color: white;
}